<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<!-- bean by type
    <bean id="zebra1" class="com.example.pkg.animal" autowire="byType">

    </bean>
    <bean id="blackAndWhite" class="com.example.pkg.color">
        <property name="colorName" value="blackAndWhite"/>
        <property name="colorId" value="2"/>
    </bean>
   -->
    <!-- bean by name -->
    <bean id="zebra1" class="com.example.pkg.animal" autowire="byType">

    </bean>
    <bean id="color" class="com.example.pkg.color">
        <property name="colorName" value="blackAndWhite"/>
        <property name="colorId" value="2"/>
    </bean>
    <bean id="blue" class="com.example.pkg.color">
        <property name="colorName" value="blue"/>
        <property name="colorId" value="1"/>
    </bean>
    <alias name="zebra1" alias="bobby"/>



</beans>